page-login {

  .login-card {
    padding: 0;
    margin-top: 5em;

    .container {
      text-align: center;

      .input-width {
        width: 80%;

        &:first-child {
          margin-top: 40px;
        }
      }
    }

    .mat-card-actions {
      display: flex;
      justify-content: flex-end;
      margin: 0;

      button {
        margin: 15px !important;
        background: $primary--light;
        color: #fff;
      }
    }
  }

  .error {
    color: red;
    margin: 15px; 
  }

  .icon {
    color: rgba(130, 233, 222, 0.25);
  }
}
