<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="spacer"></span>
      <span>Offcloud Linker</span>
      <span class="spacer"></span>
      <mat-icon class="icon">verified_user</mat-icon>
    </mat-toolbar-row>

  </mat-toolbar>

</ion-header>


<ion-content padding>

  <mat-card class="login-card">
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span>Login</span>
        </mat-toolbar-row>
      </mat-toolbar>
    <mat-card-content>
      <div class="container">
        <div class="error" *ngIf="errorMessage" > {{ errorMessage }}</div>
        <mat-form-field class="input-width">
          <input matInput placeholder="Username" class="form-control" name="username" [(ngModel)]="user.email" >
        </mat-form-field>
        <mat-form-field class="input-width">
          <input matInput placeholder="Password" class="form-control" type="password" name="password" [(ngModel)]="user.password">
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="login()">Login</button>
    </mat-card-actions>
  </mat-card>
</ion-content>
