<!--
  Generated template for the HomePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button menuToggle class="toggle-btn"><mat-icon class="icon">menu</mat-icon></button>
      <span class="spacer"></span>
      <span>Offcloud Linker</span>
      <span class="spacer"></span>
      <mat-icon class="icon">verified_user</mat-icon>
    </mat-toolbar-row>

  </mat-toolbar>

</ion-header>


<ion-content padding>
  <div class="home">
    <mat-card class="home-card">
      <img mat-card-image src="/assets/imgs/georgina.jpg" alt="GEORGINA">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <a href="https://www.instagram.com/georginamoffat/" target="_blank"><img src="/assets/imgs/instagram.png" class="social" alt="instagram" /></a>
        <a href="https://open.spotify.com/track/66Ab8wDO7k5XJpV42oeWlF?si=cUCO77C4ScG_HyG_G7ligA" target="_blank"><img src="/assets/imgs/spotify.png" class="social" alt="spotify" /></a>
        <a href="https://itunes.apple.com/album/id1338005425?ls=1&app=itunes" target="_blank"><img src="/assets/imgs/itune.png" class="social" alt="itune" /></a>
        <a href="https://www.facebook.com/musicofgeorgina" target="_blank"><img src="/assets/imgs/facebook.png" class="social" alt="facebook" /></a>
        <a href="http://www.twitter.com/GEORGINA_MOFFAT" target="_blank"><img src="/assets/imgs/twitter.png" class="social" alt="twitter" /></a>
      </mat-card-actions>
    </mat-card>
  </div>
  
</ion-content>
