page-home {
  .scroll-content {
    padding: 16px 0 0 0 !important;
  }

  .home {
    .home-card {
      box-shadow: none !important;
      padding: 0 !important;

      .mat-card-image:first-child {
        margin: -24px 0 0 0;
      }

      .mat-card-actions {
        text-align: center;

        .social {
          max-width: 40px;
        }
      }
    }
  }
}
