page-settings {
  .mat-list {
    .mat-list-item-content {
      .mat-list-text {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  .mat-card {
    padding: 7px 16px;
  }

  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: $primary--dark;
  }

  .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: $primary;
  }
}
