<!--
  Generated template for the SettingsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <mat-toolbar color="primary">
    <mat-toolbar-row></mat-toolbar-row>
    <mat-toolbar-row></mat-toolbar-row>
    <mat-toolbar-row>
      <span>Settings</span>
    </mat-toolbar-row>

  </mat-toolbar>

</ion-header>


<ion-content padding>
  <mat-list>
    <mat-list-item>
      <h4 mat-line>Save History</h4>
      <p mat-line> <mat-slide-toggle></mat-slide-toggle> </p>
    </mat-list-item>
    <mat-list-item>
      <h4 mat-line>Clear History</h4>
      <button mat-raised-button>Clear</button>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item >
      <h4 mat-line>Edit Login Credentials</h4>
      <button mat-raised-button>Edit</button>
    </mat-list-item>
  </mat-list>
</ion-content>
