<!--
  Generated template for the HistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-header>

  
  <mat-toolbar color="primary">
    <mat-toolbar-row></mat-toolbar-row>
    <mat-toolbar-row></mat-toolbar-row>
    <mat-toolbar-row>
      <span>History</span>
    </mat-toolbar-row>
    
  </mat-toolbar>
  <!--<ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>history</ion-title>
  </ion-navbar>
-->
</ion-header>


<ion-content padding>
  <mat-card class="links-list">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Shiba Inu Shiba Inu Shiba Inu Shiba Inu Inu Shiba Inu Inu Shiba Inu Inu Shiba Inu Inu Shiba Inu Inu Shiba Inu Inu Shiba Inu</mat-card-title>
    </mat-card-header>
  </mat-card> 
 
</ion-content>
