<div *ngIf="!showSplash">
  <ion-menu id="authenticated" [content]="content">
    <!--<ion-header>
      <ion-toolbar>
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>-->

    <ion-content>
      <div>

      </div>
      <mat-list>
        <mat-list-item menuClose *ngFor="let p of pages"  (click)="openPage(p)">
          <mat-icon *ngIf="p.icon" class="icon" matListIcon>{{p.icon}}</mat-icon>
          {{p.title}}
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item menuClose (click)="logout()"> <mat-icon matListIcon class="icon">exit_to_app</mat-icon> Logout </mat-list-item>
      </mat-list>

    </ion-content>

  </ion-menu>

  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" #content #myNav swipeBackEnabled="false"></ion-nav>
</div>
