// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


// ionic overide



.toolbar-background {
  background: #73b8d6;
}

.spacer {
  flex: 1 1 auto;
}

.toggle-btn {
  order: 0;
}
.icon {
  color: $primary--light;
}




.links-list {
  padding: 2px 16px;

  .mat-card-header {
    align-items: center;

    .header-image {
      background-image: url('/assets/icon/links-img.svg');
      background-size: cover;
    }

    .mat-card-title {
      margin-bottom: 0;
    }
  }
}

.mat-toolbar.mat-primary {
  background: $primary!important;
}
