<h1 mat-dialog-title>Remote Download</h1>
<div *ngIf="data.remotes; else nothing" >
  <div mat-dialog-content>
    <mat-form-field>
      <input matInput [(ngModel)]="data.url">
    </mat-form-field>
    <mat-selection-list #remotes>
      <mat-list-option *ngFor="let remote of data.remotes">
        {{remote.type}}
      </mat-list-option>
    </mat-selection-list>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Download</button>
  </div>
</div>

<ng-template #nothing>
  <div mat-dialog-content>
    You have not remote accounts
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Ok</button>
  </div>
</ng-template>

