<!--
  Generated template for the UploadPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <mat-toolbar color="primary">
    <mat-toolbar-row></mat-toolbar-row>
    <mat-toolbar-row></mat-toolbar-row>
    <mat-toolbar-row>
      <span>Upload</span>
    </mat-toolbar-row>

  </mat-toolbar>

</ion-header>


<ion-content padding>
  <mat-list>
    <mat-list-item>
      <mat-icon mat-list-icon class="icon">file_download</mat-icon>
      <h4 mat-line>Instand</h4>
    </mat-list-item>
    <mat-list-item>
      <mat-icon mat-list-icon class="icon">cloud_download</mat-icon>
      <h4 mat-line>Cloud</h4>
    </mat-list-item>
    <mat-list-item (click)="openRemoteDialog()">
      <mat-icon mat-list-icon class="icon">file_upload</mat-icon>
      <h4 mat-line>Remote</h4>
    </mat-list-item>
 
  </mat-list>
</ion-content>
