<!--
  Generated template for the AccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <mat-toolbar color="primary">
    <mat-toolbar-row></mat-toolbar-row>
    <mat-toolbar-row></mat-toolbar-row>
    <mat-toolbar-row>
      <span>Account</span>
    </mat-toolbar-row>

  </mat-toolbar>

</ion-header>


<ion-content padding>

  <mat-list>
    <h3 mat-subheader>User</h3>
    <mat-list-item>
      <mat-icon mat-list-icon>account_box</mat-icon>
      <h4 mat-line>{{user.username}}</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <h3 *ngIf="data" mat-subheader>Remote acounts</h3>
    <mat-list-item *ngFor="let item of data">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line>{{item.type}}</h4>
      <p mat-line> {{item.username}} </p>
    </mat-list-item>
  </mat-list>

</ion-content>
